- 정규식

In [1]:
import re

In [2]:
re.findall(r'(H..).(o..)','Hello World')

[('Hel', 'o W')]

In [3]:
from string import punctuation

In [4]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
re.sub(r"[%s]"%punctuation,"","news! ^^")

'news '

In [6]:
r"[%s]" %re.escape(punctuation)

'[!"\\#\\$%\\&\'\\(\\)\\*\\+,\\-\\./:;<=>\\?@\\[\\\\\\]\\^_`\\{\\|\\}\\~]'

In [12]:
data =['park 800905-1049118',
       'kim  700905-1059119']
for row in data:
    name = row.split()[0]
    jumin = row.split()[1].split('-')
    print('{0} {1}-{2}'.format(name,jumin[0],'*'*len(jumin[1])))

park 800905-*******
kim 700905-*******

In [13]:
data = """
park 800905-1049118
kim  700905-1059119
"""
for row in data.splitlines()[1:]:
    name = row.split()[0]
    jumin = row.split()[1].split('-')
    print('{0} {1}-{2}'.format(name,jumin[0],'*'*len(jumin[1])))

park 800905-*******
kim 700905-*******

In [14]:
re.findall(r'\d{7}',data)

['1049118', '1059119']

In [18]:
print(re.sub(r'(\d{7})','*******',data))

park 800905-*******
kim  700905-*******

In [20]:
num = '''
park 010-9999-9988
kim  010-9909-7789
lee  010-8789-7768
'''

In [44]:
print('\n'.join([re.sub(r'\d{4}$','####',row)
     for row in num.splitlines()[1:]]))

park 010-9999-####
kim  010-9909-####
lee  010-8789-####